# COMPOSE_PROFILES=db
# RESTART_POLICY=always
# DEGUG=false
MONGO_USERNAME=username
MONGO_PASSWORD="your-50-character-or-more-password-here"
MONGO_HOST=hyptatiacatalog.com
DJANGO_SECRT_KEY="your-100-character-or-more-secret-key-for-django-hash-table-configuation"