# Toml is part of the part of the Python standard libray after python 3.11
# absolutely required for core functions
numpy
matplotlib
astropy
astroquery
pandas
tables
pymongo
mongoengine
python-dotenv
# Required for the web interface
django
djongo
gunicorn
