{{extend "layout.html"}}

<div class="col-md-3"></div>
<div class="col-md-6">
<h1 class="c14" id="h.c2spruqyebao"><span class="c7">ACKNOWLEDGMENTS</span></h1>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9 c15"><span class="c17 c20">If you have used the Hypatia Catalog in published research, please include the following acknowledgement: </span></p>
    <p class="c2 c15"><span class="c4"></span></p>
    <p class="c3 c9 c15"><span>The research shown here acknowledges use of the Hypatia Catalog, an online compilation of stellar abundance data as described in </span><span class="c12"><a class="c6" href="http://adsabs.harvard.edu/abs/2014AJ....148...54H" target="_blank">Hinkel et al. (2014, AJ, 148, 54)</a></span><span class="c4">.</span></p>
    <p class="c2 c15"><span class="c4"></span></p>
    <p class="c3 c9 c15"><span>Additionally, please cite the original Hypatia Catalog paper: </span><span class="c12"><a class="c6" href="https://ui.adsabs.harvard.edu/abs/2014AJ....148...54H/abstract" target="_blank">https://ui.adsabs.harvard.edu/abs/2014AJ....148...54H/</a></span><span class="c4">. </span></p>
    <hr/>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span class="c4">In the event that a small number of catalogs was used within an analysis, we highly encourage the citation of those individual papers. However, we still appreciate the acknowledgment of the Hypatia Catalog and Database, in order to give credit for the use of the website, internal algorithms, and availability of the data (since >50% of the catalogs were not available in machine-readable formats prior to this compilation). </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span></span><span class="c17"><a class="c6" href="https://www.nataliehinkel.com" target="_blank">Dr. Natalie Hinkel</a></span><span class="c4"> originally created the Hypatia Catalog and designed the science-data pipeline. She actively maintains the data and data compilation. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Dr. Caleb Wheeler is the developer for the Hypatia Catalog website, database, API, and science-data pipeline.</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>The original developer for the online Hypatia Catalog was Dan Burger, who was supported by Nitin Pasumarthy, Benjamin Knight, and Wendy Yu. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Logo by </span><span class="c17">Nahks Tr&rsquo;Ehnl, </span><span>who can be found at </span><span class="c12"><a class="c6" href="http://www.nahks.com" target="_blank">www.nahks.com</a></span><span class="c4">. </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Additional thanks to </span><span class="c17">Dr. Garrett Somers.</span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c3 c9"><span>Please send any website or data updates, issues, or corrections to </span><span class="c12"><a class="c6" href="mailto:hypatiacatalog@gmail.com" target="_blank">hypatiacatalog@gmail.com</a></span><span class="c4">. You can also find us on Twitter via <a class="c6" href="https://twitter.com/HypatiaCatalog" target="_blank">@hypatiacatalog.</a> </span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <p class="c2"><span class="c4"></span></p>
    <br/><br/><br/><br/><br/>
    </div>