{{from datetime import datetime}}

<html>
    <head>
        <title>Hypatia Catalog</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css">
    </head>
    <body>
        {{=XML(div)}}
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
        {{=XML(script)}}
        <script>window.print();</script>
        Created using Hypatia Catalog - {{=datetime.strftime(datetime.now(),"%B %d, %Y")}}
    </body>
</html>


