{{extend 'layout.title.html'}}

<div class="jumbotron" style=" background: rgb(130,129,156);
background: radial-gradient(circle, rgba(130,129,156,1) 0%, rgba(31,31,57,1) 100%); color:white">
      <div class="container">
        <img src="/hypatia/static/images/hypatialogo2.png" style="float:left;width:350px">
        <h1 class="display-3">Hypatia Catalog Database</h1>
        <p style="font-size:22pt;font-style:italic;line-height:50px">Explore stellar abundance data for <b>{{="{:,}".format(counts['stars'])}}</b> stars,
          <b>{{="{:,}".format(counts['stars_with_planets'])}}</b> of which host planets and <b>{{="{:,}".format(counts['stars_multistar'])}}</b> of which are in multistar systems, 
          <b>{{="{:,}".format(counts['elements'])}}</b> elements and species, 
          <b>{{="{:,}".format(counts['catalogs'])}}</b> catalogs, and 
          <b>{{="{:,}".format(counts['abundances'])}}</b> abundance measurements.</p>
        <p><a class="btn btn-primary btn-lg" href="/hypatia/default/launch" role="button">Get Started »</a></p>
      </div>
    </div>
    
<div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <p class="c5" style="font-size:150%; color:#8A8A8A" >The Hypatia Catalog is a multidimensional, amalgamate dataset comprised of stellar elemental abundance measurements for FGKM-type stars within 500 pc of the Sun and all exoplanet host stars regardless of distance. All stellar abundances have been carefully selected from literature sources that measured [Fe/H] and at least one other element. The Hypatia Catalog Database features an interactive table and multiple plotting interfaces that allow easy access and exploration of data within the Hypatia Catalog. In addition, stellar properties and planetary properties, where applicable, have been made available. Data can be downloaded either through the website or through the terminal via <a href="/api">our API</a> for use in external plotting routines and data analysis.</p>

<p class="c5" style="font-size:150%; color:#8A8A8A">
    Help and documentation about the plots, tables, and advanced controls within the Hypatia Catalog Database can be found on the <a href="https://www.hypatiacatalog.com/hypatia/default/help" target="_blank">Help</a> page in the top right corner. More detailed information about the data, properties, individual literature sources, and decisions within the Hypatia Catalog are featured on the <a href="https://www.hypatiacatalog.com/hypatia/default/about" target="_blank">About</a> page. Thank yous and acknowledgments to be included in published papers can be found under <a href="https://www.hypatiacatalog.com/hypatia/default/credits" target="_blank">Acknowledgements</a>. Finally, for any website or data updates, issues, or corrections, please email <a href="mailto:hypatiacatalog@gmail.com" target="_blank">hypatiacatalog@gmail.com</a>.</p>
<p class="c5" style="font-size:150%; color:#8A8A8A">A detailed description of the Hypatia Catalog can be found in <a href="http://adsabs.harvard.edu/abs/2014AJ....148...54H" target="_blank">Hinkel et al. (2014).</a> The Hypatia Catalog and Hypatia Catalog Database will continue to be routinely updated in order to incorporate the most recent stellar abundance data published within the literature.
</p>
<img style="width:100%" src="/hypatia/api/static/plots/abundances.png" alt="Histogram of the element abundances in the Hypatia Catalog and the number of stars for which each element has been measured.">
<p class="font-italic text-center text-muted"><br/>Number of stars for which each element abundance has been measured as of June 2022. Every star in the Hypatia Catalog has at least [Fe/H] and one other element.</p>
<br/><br/><br/>
        </div>
      </div>
    </div>